.page.photo {
  padding: 16px;
  .upload-wrap {
    margin-bottom: 16px;
    text-align: right;
    position: sticky;
    top: 76px;
  }
  .pics {
    img {
      width: calc(25% - 12px);
      margin: 8px;
      animation: fadeIn 1s ease-in;
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:nth-child(4n + 1) {
        margin-left: 0;
      }
    }
  }
  .spin-wrap {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}