.app {
  padding-top: 60px;
}

.btn-wrap {
  text-align: right;
  padding: 20px;
}

.btn-wrap > button {
  margin-left: 20px;
}

.add-round-wrap {
  padding: 20px 0;
}

.details-round-wrap {
  padding: 20px 0;
}
.details-opt {
  width: 100px;
}
.details-opt span {
  cursor: pointer;
  color: #1890ff;
}
